:root {
    --primary-color: rgb(158, 20, 192);
    --secondary-color: rgb(214, 172, 224);
}

body {
    margin: 0;
    font-family: 'Jost', sans-serif;
    min-height: 100%;
}

header {
    background-color: var(--primary-color);
    padding-bottom: 40px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    
}

nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

}

nav a{
    color: white;
    padding: 5px 0px;
}

nav a:hover {
    opacity: 1;
}

#logo {
    width: 30px;
}

#logo {
    align-items: left;
}

a {
    text-decoration: none;
    color: white;
}

main {
    background-image: url("./images/logo.png");
    background-size: 390px;
    background-repeat: no-repeat;
}

.box {
    text-align: center;
}

#deise-gonzalez {
    max-width: 300px;
}

footer {
    text-align: center;
    background-color: var(--primary-color);
    position:static;
    width: 100%;
    bottom: 0;
    color: #fff;
}

p {
    margin: 20px 0px;
}
